:root {
    --terminal-font: WhiteRabbit, Consolas, monospace;
    --terminal-font-size: 1.2em;
    --terminal-background: #111;
    --terminal-foreground: #ccc;
    --accent-color: #0c0;
    --link-color: #0c0;
}

@font-face {
    font-family: 'WhiteRabbit';
    src: url('../fonts/whitrabt.woff2') format('woff2');
}

body {
    background-color: var(--terminal-background);
    color: var(--terminal-foreground);
    font-size: var(--terminal-font-size);
}

em {
    color: var(--accent-color);
    font-style: normal;
}

.smaller {
    font-size: 0.8em;
}

.btn {
    font-size: inherit !important;
    margin: 10px 0;
}

.btn-outline-light {
    color: var(--terminal-foreground);
    border-color: var(--terminal-foreground);
}

div#container {
    padding: 50px 20px;
    align-self: center;
}

div#container div {
    font-family: var(--terminal-font);
    vertical-align: center;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 1000px) {
    div#container {
        font-size: 1.5em;
    }
}

div#title {
    width: 100%;
    align-content: center !important;
    text-align: center;
}

h1 {
    font-size: 3em;
    border: 4px double var(--terminal-foreground);
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    padding: 10px 30px 10px 30px;
    width: fit-content;
    text-align: center;
}

h2 {
    margin: 50px 0 30px 0;
    color: var(--accent-color);
}

div#subtitle {
    text-align: center !important;
    width: 100%;
}

div#buttons {
    margin-top: 40px !important;
    animation: buttons 3s infinite;
}

div#contacts {
    margin-top: 50px !important;
    animation: buttons 3s infinite;
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.crt {
    animation: textShadow 1.6s infinite;
}

#resume, #resume p, #resume h2 {
    text-align: justify;
}

a, a:hover {
    color: var(--link-color);
    text-decoration: none;
}

a::after {
    content: '↗';
    font-size: 0.6em;
    position: relative;
    top: -0.4em;
}

a.btn::after {
    content: '';
}

ul {
    list-style: none;
    padding-left: 0px;
    position: relative;
    margin: 0;
}

ul li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.5em;
}

ul li::before {
    content: '>';
    position: absolute;
    left: 0;
}