:root {
    --terminal-font: WhiteRabbit, Consolas, monospace;
    --terminal-font-size: 1.5em;
    --terminal-background: #111;
    --terminal-foreground: #ccc;
    --accent-color: #0c0;
}

@font-face {
    font-family: 'WhiteRabbit';
    src: url('../fonts/whitrabt.woff2') format('woff2');
}

body {
    background-color: var(--terminal-background);
    color: var(--terminal-foreground);
    font-size: var(--terminal-font-size);
}

.accent {
    color: var(--accent-color);
}

.btn {
    font-size: inherit !important;
    margin: 10px 0;
}

.btn-outline-light {
    color: var(--terminal-foreground);
    border-color: var(--terminal-foreground);
}

div#buttons .btn-outline-light {
    width: 100%;
    float: left;
    clear: both;
}

div#container {
    padding: 50px 10px;
}

div#container div {
    font-family: var(--terminal-font);
    vertical-align: center;
    text-align: center;
    margin: 0 auto 50px auto;
    width: fit-content;
}

div#title {
    text-transform: uppercase;
    font-size: 3em;
    border: 4px double var(--terminal-foreground);
    padding: 0 30px 0 30px;
}

div#subtitle {
}

div#buttons {
    margin-top: 100px !important;
    animation: buttons 3s infinite;
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.crt {
    animation: textShadow 1.6s infinite;
}
